[*]
charset = utf-8
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = true

# Disable Ktlint import ordering temporarily because of AndroidStudio Kotlin formatting bug. read more here:
# https://youtrack.jetbrains.com/issue/KT-10974
[*.{kt, kts}]
disabled_rules = import-ordering
